.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px dashed black;
    width: 500px;
    height: 150px;
    padding: 20px;
}
.button{
    width:150px;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
}
.label{
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: black;
        margin-bottom: 20px;
}
.block{
    display: flex;
    justify-content: space-between;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: black;
        margin-bottom: 20px;
    
        width: 30%;
                
}