.button {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(210, 33, 33);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button:hover,
.button:focus {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.item {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
  width: 420px;
  padding: 10px;
  justify-content: space-between;
  background-color: white;
  border: 1px darkcyan solid;
  border-radius: 10px;
}
.item:not(:last-child) {
  margin-right: 5px;
}
