.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: auto;
}
.Image {
  display: block;
  padding: 0 20px;
  width: 60%;
  height: 60%;
  object-fit: contain;
}
